services:
  mm-btc:
    build: .
    command: ["BTC"]
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "3m"
        max-file: "3"
